run = "dotnet watch run --urls=http://0.0.0.0:8080"

[[ports]]
localPort = 8080
externalPort = 80

[workflows]
runButton = "Run Movie Streaming App"

[[workflows.workflow]]
name = "Run Movie Streaming App"
author = 40753671
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "dotnet watch run --urls=http://0.0.0.0:8080"
